/truffle-config.js
node_modules
public
scripts
test
package.json
package-lock.json
truffle.js
fonts
img
user
util
App.css
App.js
App.test.js
index.css
reducer.js
store.js
css
dashboard
home
config
migrations
/contracts/Migrations.sol
/contracts/SimpleStorage.sol
build
/box-img-lg.png
/box-img-sm.png
/src/index.js
/contracts/zeppelin
/contracts/Authentication.sol
/npm-debug.log
